body {
    color: #333;
    background-color: #fff;
}

.text {
    color: red;
    font-size: 30px;
}

.test {
    color: black;
}

.testtest {
    background: black;
}

.page {
    background: #FFF;
}
