header
	.header-upper
		h1.header-upper-heading DaijiroBlog
		p.header-upper-lead 社会不適合フロントエンジニア
	//fixme: ここの.menuは消しましょう
	.menu
		ul
			li.page_item_has_children
				a.page_item_has_children-link(href="/") TOP
			li.page_item_has_children
				a.page_item_has_children-link(href="/") コーディング
				ul.children
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
			li.page_item_has_children
				a.page_item_has_children-link(href="/") SEO
				ul.children
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
			li.page_item_has_children
				a.page_item_has_children-link(href="/") hogehoge
				ul.children
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
			li.page_item_has_children
				a.page_item_has_children-link(href="/") hoge
				ul.children
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML
					li.page_item_has_children
						a(href="/") HTML

