script.
	jQuery(function ($) {
		var BREAK_POINT = 768,
			FIXED_WIDTH = 1280;

		var $viewport = $('meta[name="viewport"]');

		var onResize = function() {
			var windowWidth = $(window).width();

			if (windowWidth <= FIXED_WIDTH && windowWidth >= BREAK_POINT) {
				$viewport.attr('content', 'width=' + FIXED_WIDTH);
			} else {
				$viewport.attr('content', 'width=device-width');
			}
		}

		onResize();

		$(window).on('resize', onResize);
	});
