createdAt: "2019-03-16T10:12:22.759Z"
updatedAt: "2019-03-16T10:12:22.759Z"
type: "SNIPPET_NOTE"
folder: "7d0f80bdf575ce5be6bb"
title: " copy"
tags: []
isStarred: false
isTrashed: false
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
    linesHighlighted: []
  }
]
