createdAt: "2019-03-13T08:30:10.478Z"
updatedAt: "2019-03-13T08:30:34.012Z"
type: "SNIPPET_NOTE"
folder: "8bc902ea088b82bbaaf1"
title: "learn"
tags: []
description: "learn"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: ""
  }
]
isStarred: false
isTrashed: true
