.sidebar-container
	.sidebar-profile
		img.sidebar-profile__image(src=`${imgPath}main.jpg`)
		a.sidebar-profile__name(href="") Daijiro
		hr.sidebar-profile-__line
		p.sidebar-profile__text プロフィールの紹介ですプロフィールの紹介ですプロフィールの紹介ですプロフィールの紹介ですプロフィールの紹介です
		a.sidebar-profile__link(href="") プロフィール詳細
		a.sidebar-profile__link(href="") Web制作依頼はこちら
		a.sidebar-profile__link(href="") お問い合わせはこちら
